<!-- <div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="username"
                placeholder="Username"
                class="form-control form-control-lg"
                type="text"
                *ngIf="authType == 'register'" />
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="username"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text" />
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div> -->


<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Informe seus dados">
        <mat-card-content>
          <mat-card-title style="text-align:center;">Cadastrar
          </mat-card-title>
          <form class="example-form" [formGroup]="createForm">
            <mat-form-field> <input matInput placeholder="Nome Completo" formControlName="name" maxlength="150">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="createForm.controls.name.invalid">Digite o nome completo!</mat-error>
            </mat-form-field>
            <mat-form-field> <input matInput placeholder="Email" formControlName="mail">
              <mat-error *ngIf="createForm.controls.mail.invalid">Digite o email!</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width"> <input matInput placeholder="Telefone"
                formControlName="phone" maxlength="11">
              <mat-error *ngIf="createForm.controls.phone.invalid">Digite o telefone!</mat-error>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width"> <input matInput placeholder="Senha" type="password"
              formControlName="password" maxlength="11">
            <mat-error *ngIf="createForm.controls.password.invalid">Digite sua senha!</mat-error>
            <mat-icon matSuffix>perm_identity</mat-icon>
          </mat-form-field>


            <button mat-raised-button type="submit" [disabled]="createForm.invalid"
              (click)="create()" color="primary" class="login-button"> Cadastrar </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Login">
        <mat-card-content>
          <form [formGroup]="loginForm">
            <mat-form-field> <input matInput placeholder="E-mail" formControlName="username" maxlength="255">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="loginForm.controls.username.invalid"> Login </mat-error>
            </mat-form-field>
            <mat-form-field> <input matInput placeholder="Senha" type="password" formControlName="password">
              <mat-error *ngIf="loginForm.controls.password.invalid">Informe a senha!</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="login()"
              [disabled]="loginForm.invalid" class="login-button"> Entrar </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

