.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #303f9f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
mat-card {
  width: 30%;
  margin: 10% auto;
  border-radius: 8px;
}

@media only screen and (max-width: 1100px) {
  mat-card {
    width: 90%;
    margin: 10% auto;
    border-radius: 8px;
  }
}
mat-form-field,
mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}
.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}

/* ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(0,0,0,.54);;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0,0,0,.42);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #303f9f;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #303f9f;
} */
