<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
        <div class="blocks" style="text-align: end;" >
          <a (click)="logout()" button mat-raised-button color="primary" >
            <mat-icon>input</mat-icon>Logout
          </a>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title style="text-align: center;">
            <h3>Área Logada</h3>
          </mat-card-title>
        </mat-card>
      </div>
    </div>

  </div>
</div>
