.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}


mat-dialog-container {
    background: #fff0;
}



.custom-modalbox >  mat-dialog-container {
  padding: 0px;
}
